<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Centro de Actividad Física y Salud (CAFS)</h1>
            <h3 class="mb-5">
                <em>Todo empieza por ti</em>
            </h3>
            <a class="btn btn-danger btn-lg" href="/signin">
                Empecemos
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>